:root {
    --navcolor: #1E1A1A;
    --amareloutf: #FFBE00;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.flex {
    display: flex;
}
nav {
    flex-flow: row nowrap;
    width: 100vw;
    height: 5vh;
    background-color: var(--navcolor);
}
/* region [#7c3aed12]////////Esconder para mobile://////// */
.options {
    width: 80vw;
    height: 20vh;
    gap: 20px;
    position: relative;
    justify-content: start;
}
.alternate {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    position: relative;
}
.painels {
    background-color:var(--navcolor);
    height: 0%;
    width: 230px;
    position: absolute;
    display: block;
    transition: 0s;
    border-radius: 10px;
    justify-self: center;
}
.painels ul {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 20px;
    gap: 2px;
    flex-flow: column nowrap;
}
.painels li {
    list-style: none;
    color: white;
    width: 100%;
    height: 25px;
    display: none;
    border: solid;
    border-color: transparent;
    border-width: 5px;
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding-left: 5px;
}

.painels li:hover{
    color: var(--amareloutf);
    transition: ease-out 0.1s;
    border-width: 5px;
    border: solid;
    border-color: var(--amareloutf);
    border-bottom: none;
    border-right: none;
    border-top: none;
    margin-top: 2px;
    margin-bottom: 2px;

}
.alternate p {
    width: 100%;
    height: 30px;
}
.ybox {
    background-color: var(--amareloutf);
    width: 0%;
    height: 3px;
    transition: 0.3s ease-in;
    justify-self: center;
    position:absolute;
    z-index: 100;
    margin-top: -5px;
}
.ybox:hover ~ .painels {
    display: block;
    height: 115%;
}
.ybox:hover ~ .painels li {
    display: block;
}
.ybox:hover {
    width: 230px;
}
.alternate p:hover ~ .painels {
    display: block;
    height: 115%;
    transition: height ease-in-out 0.4s;
}
.alternate p:hover ~ .ybox {
    width: 230px;
}
.painels:hover {
    display: block;
    height: 115%;
}
.alternate p:hover ~ .painels li {
    display: block;
}
.painels:hover li {
    display: block;
}
.alternate:has(.painels:hover) .ybox {
    width: 100%;
}
/* //////////////endregion/////////////////// */