* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.flex {
    display: flex;
}
nav {
    flex-flow: row nowrap;
    width: 100vw;
    height: 5vh;
    background-color: brown;
}
.options {
    background-color: blue;
    width: 80vw;
    height: 20vh;
    gap: 20px;
    position: relative;
    justify-content: start;
}
.alternate {
    background-color: lightcoral;
    margin-top: 10px;
}
.painels {
    background-color:chocolate;
    height: 0%;
    width: 220px;
    position: absolute;
    display: block;
    transition: height ease-in-out 0.4s;
}
.painels ul {
    margin-top: 20px;
    gap: 10px;
    align-items: start;
    flex-flow: column nowrap;
}
.painels li {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    opacity: 0;
    visibility: hidden;
}
.painels li:nth-child(1) {
    transition: ease-in-out 0.1s;
}
.painels li:nth-child(2) {
    transition: ease-in-out 0.2s;
}
.painels li:nth-child(3) {
    transition: ease-in-out 0.3s;
}
.painels li:nth-child(4) {
    transition: ease-in-out 0.4s;
}
.painels li:nth-child(5) {
    transition: ease-in-out 0.5s;
}
.painels li:nth-child(6) {
    transition: ease-in-out 0.6s;
}
.painels li:nth-child(7) {
    transition: ease-in-out 0.7s;
}
.painels li:hover{
    background-color: yellow;
    transition: ease-out 0.3s;
}
.alternate p {
    background-color: greenyellow;
    width: 100%;
    height: 30px;
}
.alternate p:hover ~ .painels {
    display: block;
    height: 100%;
}
.painels:hover {
    background-color: aqua;
    display: block;
    height: 100%;
}
.alternate p:hover ~ .painels li {
    opacity: 1;
    visibility: visible;
}
.painels:hover li {
    opacity: 1;
    visibility: visible;
}